
/*
外部样式
*/
.external {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1020px;
    height: 720px;
    clip-path: polygon(10% 0, 90% 10%, 100% 90%, 0 100%);
    background: #262626;
    z-index: 1;
}

/*
内部样式
*/
.internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 700px;
    clip-path: polygon(10% 0, 90% 10%, 100% 90%, 0 100%);
    background: #191919;
    z-index: 2;

}

.content {
    width: 600px;
    line-height: 1.6;
    word-wrap: break-word;  /* 强制单词换行 */
    word-break: break-word; /* 打破长单词以换行 */
}