/*故事页第一页样式*/

.first-svg-first-style{
    position: absolute;
    top: 130rem;
        left: 150rem;
}

.first-svg-second-style{
    position: absolute;
    top: 400rem;
        left: -950rem;
}

.first-svg-three-style{
    position: absolute;
    top: 400rem;
        right: -200rem;
}

.first-svg-four-style{
    position: absolute;
    top: 700rem;
        left: 250rem;
}

.first-svg-cycle-style{
    position: absolute;
    top: 0rem;
        left: 450rem;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotating-svg {
    animation: rotate-animation 5s linear infinite;
    transform-origin: center center; /* 确保旋转中心是 SVG 中心 */
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.first-svg-dog{
    width: 350rem;
        height: 340rem;
    position: absolute;
    top: 260rem;
        left: 730rem;
    z-index: 5;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
}

.first-svg-dog img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}


.first-svg-div{
    position: absolute;
    top: 600rem;
        left: 430rem;
        width: 900rem;
        height: 100rem;
    background-color: #000000;
    overflow: hidden;
    border-radius: 137rem;
    animation: marquee 5s linear infinite; /* 动画持续时间可调整 */
}
@keyframes first-svg-div {
    0% {
        transform: translateX(100%); /* 从右侧开始 */
    }
    100% {
        transform: translateX(-100%); /* 滚动到左侧消失 */
    }
}

.first-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800rem;
        left: 800rem;
        width: 240rem;
        height: 50rem;
    background-color: #F5E01B;
    border: 10rem solid #000000;
        border-radius: 20rem;
    cursor: pointer;
    font-family: DIN;
    font-size: 16rem;
    font-weight: 600;
    line-height: 19.54rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

/*第二个故事页样式*/
.second-div{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./images/bg-image/stpry-bg.png) !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.second-main{
    display: flex;
}

.second-dog-div{
    position: absolute;
    width: 600rem;
        height: 500rem;
        top: 410rem;
        left: 180rem;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
}
/* 图片样式 */
.second-dog-div img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}

.second-font-div-external{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 171rem;
        left: 810rem;
        width: 450rem;
        height: 740rem;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}

.second-font-div-internal{
    display: flex;
    flex-direction: column;
    width: 430rem;
        height: 720rem;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    background-image: url("./images/bg-image/paicture.png");
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.middle-style-font{
    font-family: Seymour One;
    font-size: 16rem;
    font-weight: 800;
    line-height: 20rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F6F5F4;
    width: 250rem;

}

.fitdog-div{
    position: absolute;
    top: 340rem;
        left: 1200rem;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
    width: 410rem;
        height: 410rem;

}

/* 图片样式 */
.fitdog-div img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}

.buttom-div-style{
    position: absolute;
    top: 680rem;
        left: 1250rem;
        height: 220rem;
        width: 320rem;
        border: 8rem solid #000000;
        border-radius: 10rem;
    background-color: #262626;
    background-image: url("./images/bg-image/box-bg.png");
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}


/*第三个故事页样式*/

.three-div-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-div-top{
    display: flex;
    width: 770rem;
        height: 310rem;
    background-color: #000000;
    border-radius: 10rem;
        margin-top: 50rem;
}

.three-image-top-inner{
    width: 300rem;
        height: 310rem;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
}

.three-image-top-inner img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}

.three-div-top-right{
    width: 400rem;
        height: 150rem;
        margin-top: 10rem;
    font-family: Seymour One;
    font-style: italic;
    font-size: 47rem;
    font-weight: 600;
    line-height: 56rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.three-div-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 420rem;
        height: 310rem;
        top: 300rem;
        left: 900rem;
    background-image: url("./images/picture/liaotianyangshi.png");
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    z-index: 4;
}

.three-div-middle-font{
    width: 250rem;
    font-family: Seymour One;
    font-size: 32rem;
    font-weight: 600;
    line-height: 40.22rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3C342F;
}

.three-div-middle-fit-dog{
    position: absolute;
    top: 310rem;
        left: 1250rem;
        width: 250rem;
        height: 250rem;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
    z-index: 4;

}
.three-div-middle-fit-dog img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}


.three-div-bottom{
    position:relative ;
    width: 770rem;
        height: 440rem;
    background-color: #000000;
    border-radius: 10rem;
        margin-top: 20rem;
    z-index: 1;
}

.three-image-bottom-dog{
    position: absolute;
    top: -40rem;
        left: 30rem;
    display: flex; /* 使内部内容对齐 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    overflow: hidden; /* 防止图片溢出 */
    width: 310rem;
        height: 383rem;
    z-index: 5;
}
.three-image-bottom-dog img {
    width: 100%; /* 图片宽度填充容器 */
    height: 100%; /* 图片高度填充容器 */
    object-fit: cover; /* 保持比例填满容器，可能会裁剪 */
}

.three-buttom-div-text-one{
    position: absolute;
    top: 230rem;
        left: 390rem;
        width: 350rem;
        height: 100rem;
    background-color: #3C342F;
    border-radius: 10rem;
}

.three-buttom-div-text-title{
    font-family: Seymour One;
    font-size: 24rem;
    font-weight: 600;
    line-height: 30.16rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F6F5F4;
    margin-left: 5rem;

}
.three-buttom-div-text-content{
    font-family: SF Pro;
    font-size: 13rem;
    font-weight: 400;
    line-height: 19.09rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F6F5F4;
    margin-left: 5rem;
        margin-top: 10rem;
}

.three-buttom-div-text-two{
    position: absolute;
    top: 340rem;
        left: 20rem;
        width: 350rem;
        height: 100rem;
    background-color: #3C342F;
    border-radius: 10rem;
}
.three-buttom-div-text-three{
    position: absolute;
    top: 340rem;
        left: 390rem;
        width: 350rem;
        height: 100rem;
    background-color: #3C342F;
    border-radius: 10rem;
}

/*第四页样式*/
.four-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./images/bg-image/stpry-bg.png) !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}


.four-div-main-external{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
        width: 1220rem;
        height: 770rem;
    background-color: #000000;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.four-div-main-internal{
    position: relative;
    display: flex;
    width: 1200rem;
        height: 750rem;
    background-color: #292929;
    background-image: url("./images/picture/four-bg-one.png") ;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.four-div-left {
    position: absolute;
    top: 20rem;
        left: 250rem;
}

.four-div-left-title{
    font-family: Seymour One;
    font-size: 47rem;
    font-weight: 800;
    line-height: 59.07rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 20rem;
        letter-spacing: 3rem;
        /* 增加字间距 */
}

.four-div-left-contant{
    font-family: Seymour One;
    font-size: 14rem;
    font-weight: 600;
    line-height: 17.6rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 50rem;
        width: 200rem;
        height: 540rem;
    color: #F6F5F4;

}

.four-div-right{
    position: absolute;
    top: 60rem;
        left: 600rem;
        width: 460rem;
        height: 460rem;
}

.four-div-right-buttom-div{
    position: absolute;
    top: 330rem;
        left: 180rem;
}

.four-div-right-buttom-div-one{
    font-family: SF Pro;
    font-size: 50rem;
    font-weight: 700;
    line-height: 59.67rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3C342F;
}

.four-div-right-buttom-div-two{
    font-family: SF Pro;
    font-size: 24rem;
    font-weight: 700;
    line-height: 28.64rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3C342F;
}

.four-div-right-top-div{
    position: absolute;
    top: -40rem;
        left: 430rem;
}

.four-div-right-top-div-one{
    font-family: SF Pro;
    font-size: 40rem;
    font-weight: 700;
    line-height: 47.73rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.four-div-right-top-div-two{
    font-family: SF Pro;
    font-size: 24rem;
    font-weight: 700;
    line-height: 28.64rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/*第五个故事页样式*/
.five-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(./images/bg-image/stpry-bg.png) !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.five-step-one{
    position: absolute;
    top: 120rem;
        left: 180rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    width: 450rem;
        height: 330rem;
    background-image: url(./images/picture/five-step-one.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;

}

.five-step-one img {
    width: 100%;
    height: 100%;
}
.five-step-two{
    position: absolute;
    top: 550rem;
        left: 180rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    width: 450rem;
        height: 330rem;
    background-image: url("./images/picture/five-step-two.png") !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.five-step-two img {
    width: 100%;
    height: 100%;
}

.five-step-three{
    position: absolute;
    top: 120rem;
        left: 1180rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    width: 450rem;
        height: 330rem;
    background-image: url("./images/picture/five-step-three.png") !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.five-step-three img {
    width: 100%;
    height: 100%;
}

.five-step-four{
    position: absolute;
    top: 550rem;
        left: 1180rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    width: 450rem;
        height: 330rem;
    background-image: url("./images/picture/five-step-one.png") !important;
    background-position: center; /* 居中显示图片 */
    background-repeat: no-repeat; /* 不重复 */
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.five-step-four img {
    width: 100%;
    height: 100%;
}

.five-dog{
    position: absolute;
    top: 250rem;
        left: 700rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 420rem;
        height: 440rem;
    cursor: pointer;
}

.five-dog img {
    width: 100%;
    height: 100%;
}

.fiv-text-div{
    display: flex;
    align-items: center;
}

.five-div-color{
    width: 21rem;
        height: 21rem;
    background-color: #F5E01B;
}
.five-div-title{
    font-style: italic;
    margin-left: 30rem;
    font-family: Seymour One;
    font-size: 40rem;
    font-weight: 800;
    line-height: 50.27rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F6F5F4;
}

.five-div-content{
    margin-left: 50rem;
        margin-top: 10rem;
        width: 250rem;
    font-family: SF Pro;
    font-size: 22rem;
    font-weight: 700;
    line-height: 28.64rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F6F5F4;
}