/* 幻灯片容器 */
.slideshow-container {
    background-color: #007bff;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    position: relative;
    cursor: pointer; /* 鼠标指针样式 */
}

/* 每一张幻灯片的样式 */
.each-slide {
    position: relative;
    width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-slide div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
}

.each-slide h2 {
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    padding: 10px 20px;
    border-radius: 5px;
}

/* 自定义箭头样式 */
.custom-prev-arrow, .custom-next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem; /* 设置箭头的大小 */
    background-color: rgba(0, 0, 0, 0.5); /* 背景色 */
    color: white;  /* 箭头颜色 */
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.custom-prev-arrow {
    left: 10px; /* 左边距 */
}

.custom-next-arrow {
    right: 10px; /* 右边距 */
}

/* 鼠标悬停时改变箭头的背景颜色 */
.custom-prev-arrow:hover, .custom-next-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
}

.indicator.active {
    color: #fff;
    background: #666;
}
