.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

}

.container-block {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 750rem;
        width: 1124rem;
        margin-top: 40rem;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #000000;
    box-sizing: border-box;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.container-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 730rem;
        width: 789rem;
        margin-left: 94rem;
    background-color: #191919;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
}

.betch-container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    margin-left: 10rem;
        margin-right: 93rem;
    background-color: #191919;
    height: 729rem;
        width: 300rem;
}

.container-avatar{
    background-color: ;


}



.batch-avatar{
    margin-top: 130rem;
    border: 8px solid #3C342F;
}

.is-owner{
    margin-top: 20rem;
    font-family: SF Pro;
    font-size: 20rem;
    font-weight: 860;
    line-height: 23.87rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.owner-div{
    margin-top: 30rem;
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 400;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.owner-div span{
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 700;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.value-div-owner{
    margin-top: 10rem;
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 400;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.value-div-noowner{
    margin-top: 52rem;
}

.value-amount-font{
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 400;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.amount-div-value{
    margin-top: 5rem;
    font-family: SF Pro;
    font-size: 16rem;
    font-weight: 700;
    line-height: 19.09rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.value-div-have-owner{

}

.batch-number-div{
    margin-top: 20rem;
    font-family: SF Pro;
    font-size: 20rem;
    font-weight: 860;
    line-height: 23.87rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F5E01B;
}

.total-comount{
    margin-top: 50rem;
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 400;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C6C6C6;
}
.total-comount-div{
    font-family: SF Pro;
    font-size: 16rem;
    font-weight: 700;
    line-height: 19.09rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2FF519;
    margin-top: 10rem;
}

.batch-buttom-right-input{
    height: 50rem;
        width: 170rem;
        font-size: 16rem;
    font-weight: 400;
    border-radius: 12rem;
        border: 10rem solid #292929;
    background-color: #191919;
    color: white;
    margin-top: 50rem;
}

.batch-buttom-right-input:hover {
    background-color:#191919 !important;
    border-color: #292929; /* 鼠标悬停时的边框颜色 */
    box-shadow: 0 0 5rem #292929;
        /* 添加悬浮阴影 */
}


/* 输入框被选中（聚焦）时样式 */
.batch-buttom-right-input:focus {
    background-color:#191919 !important;
    border-color: #292929;
    box-shadow: 0 0 5rem #292929;
}

.container-right {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
        margin-right: 93rem;
    background-color: #191919;
    height: 729rem;
        width: 300rem;
}
.container-right-internal{
    margin-left: 70rem;
}

.div-btn-style {
    display: flex;
    flex-direction: column;
}

.countdown-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.countdown-wrapper-son {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 600rem;
    position: absolute;
    top: 20rem;
    font-family: Seymour One;
    font-size: 24px;
    font-weight: 800;
    line-height: 30.16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.countdown-wrapper-son-btn{
    display: flex;
    justify-content: center;
}

.countdown-wrapper>* {
    flex: 1 1 auto;
}

.countdown-wrapper p {
    font-size: 1em;
    color: #333;
}

.countdown-wrapper strong {
    font-weight: bold;
    color: #0056b3;
}

.conter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border: 1rem solid #ccc;
        border-radius: 6rem;
        font-size: 14rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.right-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10rem;
    position: absolute;
    border-radius: 5rem;
        top: 270rem;
        right: 3rem;
    z-index: 3;
}

.record-table-dev {
    height: 500rem;
    border: 10rem solid #000000;
}
.record-table-dev-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50rem;
    color: #ffffff;
    font-size: 16rem;
    font-family: SF Pro;
    font-weight: 800;
    line-height: 16.71rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #191919 ;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5rem;
    width: 500rem;
    height: 500rem;
    padding: 10rem;
    position: absolute;
    top: 60rem;
    left: 70rem;
}

.shiled-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50rem;
        width: 50rem;
        border: 5rem solid #c53d7b;
        font-size: 14rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.grid-box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 50rem;
        width: 50rem;
        border: 5rem solid #6076C1;
    background-image: url("./images/picture/grid-img.png");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 14rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.hover-style{
    position: absolute;
    top: 40rem;
        right: -6rem;
}

.selected-style{
    position: absolute;
    top: 40rem;
        right: -6rem;
}

.svg-style{
    position: absolute;
    top: -5rem;
        left: 0rem;
}
/*拥有的格子*/
.grid-box.have {
    border: 5rem solid #4A7971;
}

/*被他人抢占的*/
.grid-box.preempted {
    border: 5rem solid #B35649;
}


.submit-button {
    text-align: center;
    width: 20rem;
        margin-top: 10rem;
        padding-right: 25rem;
        font-size: 18rem;
    color: #1677ff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.box-details {
    width: 400rem;
        height: 400rem;
        margin-left: 20rem;
        padding: 10rem;
        border: 1rem solid #ddd;
        border-radius: 5rem;
    background-color: #f9f9f9;
}

.box-details h3 {
    margin-top: 0;
}

.popupStyle {
    position: fixed;
    right: -50rem;
    transform: translate(-50%, -50%);
    width: 250rem;
        height: 400rem;
        box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.2);
        border-radius: 6rem;
    background-color: white;
    border: 1rem solid black;
        padding: 20rem;
    z-index: 1;
}

.testStyle {
    position: fixed;
    right: -50rem;
    transform: translate(-50%, -50%);
    width: 250rem;
        height: 400rem;
        box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.2);
        border-radius: 6rem;
    background-color: white;
    border: 1rem solid black;
        padding: 20rem;
    z-index: 1;
}

.batch-button-style{
    height: 50rem;
        width: 170rem;
        border: 10rem solid #292929;
        border-radius: 14rem;
    background-color: #F5E01B;
    font-weight: 700;
    font-size: 16rem;
    color: #3C342F;
    cursor: pointer;
    margin-top: 10rem;

}

.button-style{
    margin-top: 10rem;
        height: 50rem;
        width: 170rem;
    cursor: pointer;
    border: 10rem solid #262626;
        border-radius: 15rem;
    background-color: #F5E01B;
    color:  #3C342F;
    font-family: SF Pro;
    font-size: 16rem;
    font-weight: 700;
    line-height: 19.09rem;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


}

.model-style{
    display: flex;
    flex-direction: column;
    width: 849rem;
        border: 10rem solid #292929 !important;
}
.div-style-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    transform: scale(1.3,0.8);
    font-weight: bolder;
    font-size: 50rem;

}

.shild-wenzi-style-chess{
    position: absolute;
    top: 145rem;
        left: 85rem;
        font-size: 16rem;
    font-weight: 700;
    letter-spacing: 1rem;
}

.chess-div-style-bottom{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}


.chess-div-style-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    width: 349rem;
        height: 240rem;
    background-color: #3C342F;
    border-radius: 8rem;
}

.chess-button-left-style{
    display: flex;
    font-size: 26rem;
    font-weight: 700;
    letter-spacing: 1rem;
        margin-left: 20rem;
        margin-top: 10rem;
}

.button-left-image{
    height: 132rem;
        width: 349rem;
}
.chess-button-left-button{
    display: flex;
    justify-content: space-around;
    width: 349rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.svg-chess-choice{
    position: absolute;
    top: -26rem;
        left: -25rem;
}

.chess-button-left-button-p{
    font-size: 46rem;
    font-weight: 860;
    letter-spacing: 1rem;
    color: #F5E01B;
}
.div-style-bottom-right{
    width: 250rem;
}
.buttom-right-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.buttom-right-top-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.buttom-right-top p{
    font-size: 16rem;
    font-weight: 400;
}

.buttom-right-top-p{
    color: #F5E01B;
}

.button-shiled-div-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150rem;
}

.buttom-right-input{
    height: 50rem;
        width: 170rem;
        font-size: 16rem;
    font-weight: 400;
    border-radius: 12rem;
        border: 10rem solid #292929;
    background-color: #191919;
    color: white;
}
.buttom-right-input:hover {
    background-color:#191919 !important;
    border-color: #292929; /* 鼠标悬停时的边框颜色 */
    box-shadow: 0 0 5rem #292929;
        /* 添加悬浮阴影 */
}


/* 输入框被选中（聚焦）时样式 */
.buttom-right-input:focus {
    background-color:#191919 !important;
    border-color: #292929;
    box-shadow: 0 0 5rem #292929;
}

/* 输入框在选中后且鼠标悬停时样式 */
.buttom-right-input-input:focus:hover {
    background-color:#191919 !important;
    border-color: #673ab7;
    box-shadow: 0 0 5rem rgba(103, 58, 183, 0.8);
}

.buttom-update-shiled {
    width: 250rem;
        height: 40rem;
    background-color: #f5df1b;
    cursor: pointer;
    border: 1rem solid #f5df1b;
        border-radius: 10rem;
        margin-right: 10rem;
    font-weight: 600;
    font-size: 16rem;
}

.buttom-confirm-shiled{
    width: 250rem;
        height: 40rem;
    background-color: #f9f9f9;
    cursor: pointer;
    border: 1rem solid #f9f9f9;
        border-radius: 10rem;
        margin-left: 10rem;
    font-weight: 600;
    font-size: 16rem;
}





@media (max-width: 50vw) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        width: 100vw;
    }
    .grid-box {
        height: 50rem;
            font-size: 14rem;
    }
    .submit-button {
        font-size: 16rem;
            padding: 10rem 20rem;
    }
}