.checkerboard{
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.container-block {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 820px;
    width: 1424px;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #292929;
    box-sizing: border-box;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.container-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 800px;
    width: 1141px;
    margin-left: 10px;
    background-color: #191919;
    clip-path: polygon(3.5% 0, 100% 0, 100% 100%, 0 100%);

}

.container-right {
    display: flex;
    margin-left: 10px;
    margin-right: 60px;
    background-color: #191919;
    height: 800px;
    width: 300px;
    flex-direction: column;
}


.countdown-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.countdown-wrapper-son{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;

}

.countdown-wrapper>* {
    flex: 1 1 auto;
}

.countdown-wrapper p {
    font-size: 1em;
    color: #333;
}

.countdown-wrapper strong {
    font-weight: bold;
    color: #0056b3;
}


.conter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s; 
}

.right-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    position: absolute;
    top: 150px;
    right: -150px;
    z-index: 3;
}

.record-table-dev {
    height: 500px;
    border: 10px solid #292929;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    width: 500px;
    height: 500px;
    padding: 10px;
}

.grid-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.grid-box:hover {
    background-color: #d5d5d5;
}

.grid-box.selected {
    background-color: #1677ff;
    color: #fff;
    border-color: #1677ff;
    box-shadow: 0px 4px 8px rgba(14, 153, 207, 0.5);
}

.grid-box.have {
    border: 1px solid #0dec68;
}
.grid-box.preempted {
    border: 1px solid #f40808;
}


.submit-button {
    text-align: center;
    width: 20px;
    margin-top: 10px;
    padding-right: 25px;
    font-size: 18px;
    color: #1677ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}


.box-details {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.box-details h3 {
    margin-top: 0;
}

.popupStyle {
    position: fixed;
    right: -50px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1;
}
.testStyle{
    position: fixed;
    right: -50px;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1;
}


.button-style{
    height:40px ;
    width: 206px;
    border: 5px solid #292929;
    border-radius: 12px;
    background-color: #191919;
    color: white;

}

@media (max-width: 50vw) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        width: 100vw;
    }

    .grid-box {
        height: 50px;
        font-size: 14px;
    }

    .submit-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}