.shiled-div-have-external{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250rem;
        height: 160rem;
    background-color: #000000;
    clip-path: polygon(7% 0, 95% 6%, 100% 90%, 0 100%);
    position: absolute;
    top: 740rem;
        right: 50rem;
}

.shiled-div-have-internal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230rem;
        height: 140rem;
    background-color: #6076C1;
    clip-path: polygon(7% 0, 95% 6%, 100% 90%, 0 100%);
    position: relative;
}

.font-div-style{
    position: absolute;
    left: 38rem;
        top: 34rem;
}

.time-style-div{
    font-family: SF Pro;
    font-size: 32rem;
    font-weight: 700;
    line-height: 38.19rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.shiled-duration-div{
    margin-top: 20rem;
    font-family: SF Pro;
    font-size: 12rem;
    font-weight: 700;
    line-height: 14.32rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}