.user-info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 420px;
    height: 620px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background: #262626;
    z-index: 1;
}

.user-info-internal{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 400px;
    height: 600px;
    clip-path: polygon(0 0, 99% 0, 89% 100%, 0 100%);
    background: #191919;
    z-index: 2;
}

.info-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.image-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f4;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box.selected {
    border: 2px solid blue;
}

.icon-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.edit-icon {
    font-size: 24px;
    transition: all 0.3s ease;
}

.edit-icon:hover {
    font-size: 30px;
    color: #1890ff;
}



