.wallet-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 206px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    background-color:  #F51987;
    border: 1px solid  #F51987;
    color: white;
    margin-right: 10px;
}