html,
body {
  height: 100%;
  width: 100%;
  color: #f9f9f9;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow: hidden;
  cursor: auto;
}
body{
    background-image:
            url("./images/bg-image/shexian.png"),
            linear-gradient(rgba(107, 54, 54, 0.5), rgba(107, 54, 54, 0.5)),
            url("./images/bg-image/paicture.png");
    background-size:
            100% 100%,
            100% 100%,
            100% 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    margin: 0px !important;
    cursor: auto;
}

