html,
body {
  display: flex;
  place-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: hidden;
}
