html,
body {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
