.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-style-external {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1124rem;
    height: 750rem;
    clip-path: polygon(4% 0, 85% 0, 100% 100%, 0 100%);
    background: #000000;
    margin-top: 40rem;
    z-index: 1;
}

.grid-style-internal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 1100rem;
    height: 730rem;
    clip-path: polygon(4% 0, 85% 0, 100% 100%, 0 100%);
    background: #191919;
    z-index: 1;
}

.grid-style-margin {
    margin-left: 160rem;
}

.countdown-title {
    font-family: SF Pro;
    font-size: 16rem;
    font-weight: 400;
    line-height: 19.09rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #646464;
    margin-bottom: 10px;
}

.total-title {
    color: #393939;
    /*margin-bottom: 5rem;*/
}

.total-content {
    font-family: SF UI Text;
    font-size: 36rem;
    font-style: italic;
    font-weight: 585;
    line-height: 47.73rem;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #f5df1b;
}

.gridStyle {
    display: grid;
    grid-template-columns: repeat(3, 150rem);
    grid-template-rows: repeat(3, 150rem);
    gap: 20rem;
    border-radius: 6rem;
    margin-left: 160rem;
}

.cellStyle {
    width: 150rem;
    height: 150rem;
    border-radius: 15rem;
    border: 1rem solid #3b332e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2b2522;
    .price {
        margin-bottom: 10rem;
        font-size: 18rem;
        font-weight: bold;
        /* 设置渐变色 */
        background: -webkit-linear-gradient(45deg, #35f419, #e7d91b);
        /* 将背景应用到文本上 */
        -webkit-background-clip: text;
        /* 使文本颜色透明，以显示背景 */
        color: transparent;
        /* 使文本颜色透明，以显示背景 */
        -webkit-text-fill-color: transparent;
        /* 使渐变效果只应用于这个元素 */
        display: inline-block;
    }
    .cellTitle {
        font-family: Roboto;
        font-size: 12rem;
        font-weight: 500;
        line-height: 14.06rem;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #D5C7AD;
        margin-top: 5rem;
    }
}