.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b3737;
    background-image: url('./images/bg-image/bg.png');

}
.grid-style-external{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1024px;
    height: 820px;
    clip-path: polygon(5% 0, 90% 0, 100% 100%, 0 100%);
    background: #191919;
    z-index: 1;

}

.grid-style-internal {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1000px;
    height: 800px;
    clip-path: polygon(5% 0, 90% 0, 100% 100%, 0 100%);
    background: #292929;
    z-index: 1;
}

.gridStyle{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 10px;
}

.cellStyle {
    width: 150px;
    height:150px;
    border-radius: 6px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

